


  <div class="page-header dashboard-header">
    <h2>Dashboard</h2>

        <img src="/public/images/avatar2.png" class="avatar" alt="{{user.name}}">
        <div class="user-info">
          <h3>{{user.name}}</h3>
          <p>{{user.email}}</p>
          <p>{{user.username}}</p>
        </div>
  </div> <!-- end of page header -->
   
   <div class="row">
        <div class="bookmarks">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <div class="bookmarkList">
            {{#each bookmarks}}
              <div class="individual-bookmarks col-xs-6 col-sm-3">
                <a href=
                "/items/{{_id}}"><div class="bookmarkedItem">
                  {{itemName}}
                </div></a>
              </div>
            {{/each}}
          {{else}}
        </div>
         <p class="missingData">No bookmarks found.</p>
          {{/if}}
        </div> <!-- end of bookmarks -->
     </div>

    <div class="row">
      <div class="user-tips">
        <h4>User Tips</h4>
        {{#if tips}}
        <div class="tipsList">
          {{#each tips}}
            <div class="dashboard-individual-tips col-xs-12 col-sm-6">
              <button class="delete-tip" data-tipid="{{this._id}}" value="delete" type="submit">x</button>
              <p class="tipContent">{{this.content}}<p>
              <span class="tipAuthor">{{this.userName}}</span>
            </div>
          {{/each}}
        </div>
        {{else}}
        <p class="missingData">No Tips Found.</p>
        {{/if}}
      </div> <!-- end of user-tips -->
    </div>




