<h2>Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="avatar-div">
        <img src="/public/images/avatar.png" class="avatar" alt="avatar image">
      </div>
      <p class="user-info">
        <h3>{{user.name}}</h3>
        <small>{{user.email}}</small></br>
        <small>{{user.username}}</small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="user-activity">
        <h4>User Activity</h4>
        {{#if tips}}
        <ul class="tips-list">
          {{#each tips}}
          <li>
            <div class="individual-tips">
              <span class="glyphicon glyphicon-thumbs-up"></span><span class="upvotes">{{this.upvote}}</span> <span class="glyphicon glyphicon-thumbs-down"></span><span class="downvotes">{{this.downvote}}</span>
              <p>{{this.content}}<p>
            </div>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <h5>No Tips Found.</h5>
        {{/if}}
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <div class="bookmarks">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <ul>
            {{#each bookmarks}}
            <li>
            <div class="individual-bookmarks">
            <a href=
            "/items/{{_id}}"><h5>{{itemName}}</h5></a>
            <p>{{shortDescription}}</p>
            </div></li>
            {{/each}}
          </ul>
          {{else}}
          <p class="missingData">No bookmarks found.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
