<h2>Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="avatar-div">
        <img src="/public/images/avatar.png" class="avatar" alt="avatar image">
      </div>
      <p class="user-info">
        <h3>{{user.name}}</h3>
        <small>{{user.email}}</small></br>
        <small>{{user.username}}</small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="user-activity">
        {{>userActivity}}
      </div>
    </div>
      <div class="col-xs-6">
        <div class="bookmarks">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <ul>
            {{#each bookmarks}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          {{else}}
          <h5>No bookmarks found.</h5>

          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
