


  <div class="page-header dashboard-header">
    <h2>Dashboard</h2>
  </div> <!-- end of page header -->
  <div class="user-div">
  <img src="/public/images/avatar2.png" class="avatar" alt="{{user.name}}">
        <div class="user-info">
          <h3>{{user.name}}</h3>
          <p>{{user.email}}</p>
          <p>{{user.username}}</p>
        </div>
  </div>

        <div class="bookmarks row">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <div class="bookmarkList">
            {{#each bookmarks}}
              <div class="individual-bookmarks col-xs-12 col-sm-6 col-md-4">
                <div class="bookmarkedItem">
                <button class="delete-bookmark" data-itemid="{{_id}}" value="delete" type="submit"><span class="glyphicon glyphicon-remove-circle"></span></button>
                 <a href=
                "/items/{{_id}}"> <p>{{itemName}}</p></a>
                </div>
              </div>
            {{/each}}
          {{else}}
        </div>
         <p class="missingData">No bookmarks found.</p>
          {{/if}}
        </div> <!-- end of bookmarks -->
  </div>    


      <div class="user-tips row">
        <h4>Tips</h4>
        {{#if tips}}
        <div class="tipsList">
          {{#each tips}}
            <div class="dashboard-individual-tips col-xs-12 col-sm-6 col-md-4">
              <button class="delete-tip" data-tipid="{{this._id}}" data-itemid="{{this.itemId}}" data-userid="{{this.userId}}" value="delete" type="submit"><span class="glyphicon glyphicon-remove-circle"></span></button>
              <p class="tipContent">{{this.content}}<p>
              <span class="tipAuthor">{{this.userName}}</span>
            </div>
          {{/each}}
        </div>
        {{else}}
        <p class="missingData">No Tips Found.</p>
        {{/if}}
      </div> <!-- end of user-tips -->





