

<div class="container">
<h2>Dashboard</h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="avatar-div">
            <img src="/public/images/avatar2.png" class="avatar" alt="{{user.name}}">
          </div>
      <div class="user-info">
        <h3>{{user.name}}</h3>
        <small>{{user.email}}</small></br>
        <small>{{user.username}}</small>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="user-tips">
        <h4>User Tips</h4>
        {{#if tips}}
        <div class="tipsList">
          {{#each tips}}
            <div class="dashboard-individual-tips col-xs-12 col-sm-6">
              <p class="tipContent">{{this.content}}<p>
              <span class="tipAuthor">{{this.userName}}</span>
            </div>
          {{/each}}
        </div>
        {{else}}
        <h5>No Tips Found.</h5>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="bookmarks">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <div class="bookmarkList">
            {{#each bookmarks}}
              <div class="individual-bookmarks col-xs-3 thumb">
                <a href=
                "/items/{{_id}}"><img src="/public/images/bookmark.png" alt="{{itemName}}" class="img-hover img-responsive"></a>
                <div class="middle">
                  <a href=
                "/items/{{_id}}"><div class="text">{{itemName}}</div>
                </div></a>
              </div>
            {{/each}}
          {{else}}
        </div>
         <p class="missingData">No bookmarks found.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

