<h2>Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="avatar-div">
        <img src="/public/images/avatar.png" class="avatar" alt="avatar image">
      </div>
      <p class="user-info">
        <h3>{{user.name}}</h3>
        <small>{{user.email}}</small></br>
        <small>{{user.username}}</small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="user-tips">
        <h4>User Tips</h4>
        {{#if tips}}
        <ul class="tipsList">
          {{#each tips}}
          <li class="col-xs-12">
            <div class="individual-tips">
              <p class="tipContent">{{this.content}}<p>
              <span class="tipAuthor">{{this.userName}}</span>
            </div>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <h5>No Tips Found.</h5>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="bookmarks">
          <h4>Bookmarks</h4>
          {{#if bookmarks}}
          <ul class="bookmarkList">
            {{#each bookmarks}}
            <li class="col-xs-12">
              <div class="individual-bookmarks">
                <h5>{{itemName}}</h5>
                <a href=
                "/items/{{_id}}"><img src="{{imgSrc}}" alt="{{itemName}}" class="img-thumbnail"></a>
              </div>
            </li>
            {{/each}}
          </ul>
          {{else}}
          <p class="missingData">No bookmarks found.</p>
          {{/if}}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

