
  <div class="page-header">
    <h2 class="index-welcome">Welcome to Multipurpose</h2>

    <p class="index-msg">Join a community of environmentally conscious folks! Find more ways to use everyday household items. Help eliminate harmful toxins in your home and reduce the amount of waste going into your landfills and water systems.</p>
  </div>
  {{#each items}}  
    <div class="individual-item col-xs-12 clear-fix">
    <a href="/items/{{this._id}}">
      <div class="itemDesc">
            <!-- <div class="img-div"> -->
              <img src="{{this.imgSrc}}" alt="{{this.itemName}}" class="item-image">
            <!-- </div> -->
              <h3>{{this.itemName}}</h3>
              <p>{{this.shortDescription}}</p>
          </div>
        </a>
      </div>
  {{/each}}

