
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{uppercase item.itemName}}</h2>
    </div>
    <div class="row">
    <div class="col-xs-4">
      <img src="{{item.imgSrc}}" class="household-item-image" alt="{{item.itemName}}">

      <div class="bookmark-item">
        <form action="/items/{{item._id}}/bookmark" method="post">
         <input type="submit" value="Bookmark" class="btn btn-lg btn-success">
        </form>
      </div>
      <div class="household-item-description">
        <p class="item-desc">{{item.shortDescription}}</p>
      </div>
    </div>

      <div class="col-xs-8 tips-section">
        <div class="add-tip">
          <form method="post" action="/items/{{item._id}}/addtip" id="addItemTip">
         <div class="form-group">
          <label>Add a Tip</label>
          <textarea class="form-control" name="content" form="addItemTip" placeholder="Write a tip here."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="tipsListDiv">
        {{#if tipData}}
        <ul class="tipsList">
          {{#each tipData}}
           <li> 
             <div class="individual-tips">
               <form method="GET" action="/{{this._id}}/upvote">
                  <button class="upvotes" value="Like" type="submit"><span class="glyphicon glyphicon-thumbs-up">{{this.upvote}}</span></button>
                </form>
                <form method="GET" action="/{{this._id}}/downvote">
                  <button class="downvotes" value="Dislike" type="submit"><span class="glyphicon glyphicon-thumbs-down">{{this.downvote}}</span></button>
                </form>
                <p class="tipContent">{{this.content}}<p>
                <span class="tipAuthor">{{this.userName}}</span>
             </div>
            </li>
          {{/each}}
        </ul>
          {{else}}
          <h1>No Tips Found.</h1>
        {{/if}}
        </div>
  </div>
</div>

