
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>{{itemName}}</h2>
      <img src="{{imgSrc}}" class="household-item-image" alt="{{itemName}}">
      <button class="bookmark-item btn-primary">bookmark</button>
      <form>
        <input name="tip" placeholder="add tips" class="tip-input">
        <button class="js-submit-tip btn-success">submit tip</button>
      </form>
    </div>
      <div class="household-item-description">
        <p class="item-desc">{{shortDescription}}</p>
      </div>
      <div class="tips-list">
        {{#each tips}}
          <div>{{this.content}}</div>
        {{/each}}
      </div>
  </div>
</div>
