
<div class="container">
<h2>{{uppercase item.itemName}}</h2>
  <div class="row">
    <div class="col-xs-12">
      
    </div>
    <div class="row">
    <div class="col-xs-4">
      <img src="{{item.imgSrc}}" class="household-item-image" alt="{{item.itemName}}">

      <div class="household-item-description">
        <p class="item-desc">{{item.shortDescription}}</p>
      </div>
       <div class="bookmark-item">
        <form action="/items/{{item._id}}/bookmark" method="post">
         <input type="submit" value="Bookmark" class="btn btn-lg btn-success">
        </form>
      </div>
    </div>

      <div class="col-xs-8 tips-section">
        <div class="add-tip">
          <form method="post" action="/items/{{item._id}}/addtip" id="addItemTip">
         <div class="form-group">
          <label>Add a Tip</label>
          <textarea class="form-control" name="content" form="addItemTip" placeholder="Write a tip here."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="tipsListDiv">
        {{#if tipData}}
        <div class="tipsList">
          {{#each tipData}}
             <div class="individual-tips">
                <button class="upvotes" data-tipid="{{this._id}}" value="Like" type="submit">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="upcount">{{this.upvote}}</span>
                </button>

                <button class="downvotes" data-tipid="{{this._id}}" value="Dislike" type="submit">
                    <span class="glyphicon glyphicon-thumbs-down"></span> <span class="downcount">{{this.downvote}}</span>
                  </button>
                <p class="tipContent">{{this.content}}<p>
                <span class="tipAuthor">{{this.userName}}</span>
             </div>
          {{/each}}
            {{else}}
            <h1 class="missingData">No Tips Found.</h1>
          {{/if}}
        </div>
          
        </div>
  </div>
</div>
